.root{
	-fx-font-family: "Consolas";
	-fx-alignment: center;
}


.button{
	-fx-font: 16px "Consolas";
	-fx-text-fill: cyan;
	-fx-border-color: darkkhaki;
	-fx-border-width: 2px;
	-fx-background-color: maroon;
	-fx-text-fill: whitesmoke;
}


.button:hover{
	-fx-background-color: saddlebrown;
}


.label{
	-fx-padding: 5px;
	-fx-fill: black;
	-fx-font: 15px "Consolas";
	-fx-alignment: center;
}

HBox{
	-fx-text-alignment: center;
	-fx-alignment: center;
}


.text{
	-fx-font-family: consolas;
	-fx-fill: whitesmoke;
}

.vbox{
	-fx-alignment: center;	
	
}


.screen{
	-fx-font: 20 Consolas;
	-fx-padding: 150px; 
	-fx-alignment: center;
	-fx-text-alignment: center;
	-fx-min-width: 1245px;
	-fx-min-height: 700px;
}


#buttons{
	-fx-min-width:500px;
	-fx-spacing: 100px;
	-fx-alignment: center;
}

.playerinfo{
	-fx-font: 15px Consolas;
	-fx-padding: 20px;
	-fx-border-color: black;
	-fx-spacing: 10px;
}

#info-red{
	-fx-background-color: maroon;
	-fx-text-fill: whitesmoke;

}

#info-red .text{
	-fx-fill: black;
}

#info-white{
	-fx-background-color: whitesmoke;
}

#info-white .text{
	-fx-fill: black;
}

#authors{
	-fx-font-size: 12px;
	-fx-alignment: center;
	-fx-padding: 20px;
	-fx-text-alignment: CENTER;
}


#title {
	-fx-fill: whitesmoke;
	-fx-text-fill: whitesmoke;
	-fx-stroke: black;
	-fx-stroke-width: 3px;
	-fx-font: 100px "Consolas";
	-fx-alignment: CENTER;
	-fx-text-alignment: CENTER;
	-fx-padding: 20px;
}

#playerHeader{
	-fx-spacing: 5px;
	-fx-padding: 5px;
	-fx-alignment: center_left;
}

#seed{
	-fx-alignment: CENTER;
	-fx-spacing: 5px;
	-fx-padding: 20px;	
}

.icon{
	-fx-width: 20;
	-fx-height: 20;
}

#errorBox{
	-fx-background-color: red;
	-fx-padding: 10;
}

#errorMessage{
	-fx-fill: whitesmoke;
}


